---
layout: layouts/base.njk
section: home
permalink: "/index.html"
---
<article>

  <header class="pb--4">

    <div class="grid grid--intro">

      <div class="grid__item--span-4 mw--readable markdown">{{ settings.metadata.site_description | renderUsingMarkdown | safe }}</div>

    </div>

  </header>

  {# Image section #}
  <section class="grid">
    
    <div class="grid--body">
      <img src="/assets/images/dakota-mountain.jpg" alt="Dakota Mountain residence">
    </div>

  </section>

  {# Add your Markdown content here #}
  {% set statement %}
## We are **Architects, Builders, and Systems-Thinkers**
  {% endset %}

  <section class="grid--body">
    <div class="grid__item--span-4 markdown">
      {{ statement | renderUsingMarkdown | safe }}
    </div>
  </section>

</article>

{# Appended to <head> during build #}
{% include "components/opengraph.njk" %}
