---
layout: layouts/base.njk
title: Projects
permalink: /projects/index.html
section: home
---
<article>

  {% set projectList = collections.projects | limit(settings.theme.theme_features.item_output_limit or 48) %}
  {% include "components/projectList.njk" %}

</article>

{# Appended to <head> during build #}
{% include "components/opengraph.njk" %}
{% include "components/jsonld.njk" %}