<footer class="p--content text--small">
	<div class="grid grid--footer">
		<div class="grid__item footer__col-2">&copy; {{ settings.metadata.site_title or "Site Title" }}</div>
		{% if settings.metadata.site_email %}
			<div class="grid__item footer__col-3">
				<a href="mailto:{{ settings.metadata.site_email }}">{{ settings.metadata.site_email }}</a>
			</div>
		{% endif %}
		{% if settings.metadata.site_social_url %}
			<div class="grid__item footer__col-4">
				<a href="{{ settings.metadata.site_social_url }}" target="_blank" rel="noopener">{{ settings.i18n.site_social_title }}</a>
			</div>
		{% endif %}
	</div>
</footer>
