<div class="index-filters" role="group" aria-label="Filter entries by type">
  <label class="index-filter">
    <input type="checkbox" name="filter" value="all" checked>
    <span class="index-filter__box"></span>
    <span class="index-filter__label">ALL</span>
  </label>
  <label class="index-filter">
    <input type="checkbox" name="filter" value="project">
    <span class="index-filter__box"></span>
    <span class="index-filter__label">PROJECTS</span>
  </label>
  <label class="index-filter">
    <input type="checkbox" name="filter" value="news">
    <span class="index-filter__box"></span>
    <span class="index-filter__label">NEWS</span>
  </label>
  <label class="index-filter">
    <input type="checkbox" name="filter" value="award">
    <span class="index-filter__box"></span>
    <span class="index-filter__label">AWARD</span>
  </label>
  <label class="index-filter">
    <input type="checkbox" name="filter" value="feature">
    <span class="index-filter__box"></span>
    <span class="index-filter__label">FEATURE</span>
  </label>
  <label class="index-filter">
    <input type="checkbox" name="filter" value="lecture">
    <span class="index-filter__box"></span>
    <span class="index-filter__label">LECTURE</span>
  </label>
  <label class="index-filter">
    <input type="checkbox" name="filter" value="exhibition">
    <span class="index-filter__box"></span>
    <span class="index-filter__label">EXHIBITION</span>
  </label>
  <label class="index-filter">
    <input type="checkbox" name="filter" value="staff">
    <span class="index-filter__box"></span>
    <span class="index-filter__label">STAFF</span>
  </label>
</div>
