<div class="index-filters" role="group" aria-label="Filter entries by category">
  {# ALL toggle #}
  <label class="index-filter">
    <input type="checkbox" name="filter" value="all" data-filter-type="all" checked>
    <span class="index-filter__box"></span>
    <span class="index-filter__label">ALL</span>
  </label>
  {# Dynamic category filters #}
  {% for category in collections.allCategories %}
  <label class="index-filter">
    <input type="checkbox" name="filter" value="{{ category | lower }}" data-filter-type="{{ category | lower }}">
    <span class="index-filter__box"></span>
    <span class="index-filter__label">{{ category }}</span>
  </label>
  {% endfor %}
</div>
