---
layout: layouts/base.njk
permalink: "project/{{ title | slug }}/index.html"
section: project
---
<article>

  {# Header Image Banner (no caption) #}
  {% if headerImage %}
    <section class="pb--3">
      {% set outputFormats = [] %}
      {% for format, i in settings.images %}
        {% if i.enabled === true %}
          {{ '' if outputFormats.push(format) }}
        {% endif %}
      {% endfor %}

      {% set params = 
        { 
          "src": headerImage.src,
          "alt": title,
          "classes": "banner-image",
          "loadingType": "eager",
          "viewportSizes": "100vw",
          "outputWidths": [ 
            settings.config.image_width_sm,
            settings.config.image_width_md,
            settings.config.image_width_lg
          ],
          "outputFormats": outputFormats,
          "outputQualityJpeg": settings.images.jpeg.quality,
          "outputQualityWebp": settings.images.webp.quality,
          "outputQualityAvif": settings.images.avif.quality
        }
      %}

      {% generateImage params %}
    </section>
  {% endif %}


  {# Project Metadata#}
  <header class="pb--4">
    <div class="grid grid--intro">
      <h1 class="grid__item--span-4 mw--readable">{{ title }}</h1>
      <div class="grid__item--span-4 mw--readable markdown">{{ description | renderUsingMarkdown | safe }}</div>
        
      {% if year and settings.theme.theme_features.show_project_year %}
        <p class="grid__item--span-4 mw--readable mb--0">
          {{ year }}
        </p>
      {% endif %}
    </div>
  </header>

  {# Project Description from Markdown Content #}
  <section>
    <div class="grid grid--description pb--6">
      <div class="grid__item--span-4 mw--readable">
        {{ content | safe }}
      </div>
    </div>
  </section>

  {# Gallery Images with Captions #}
  <section class="grid grid--project pb--3">
    {% if images %}
      {% for image in images %}

        {% set outputFormats = [] %}
        {% for format, i in settings.images %}
          {% if i.enabled === true %}
            {{ '' if outputFormats.push(format) }}
          {% endif %}
        {% endfor %}

        {% set params = 
          {
            "src": image.src,
            "alt": image.caption or title,
            "classes": "grid__item grid__item--breakout",
            "loadingType": "lazy",
            "viewportSizes": "(min-width: 1140px) 70vw, (min-width: 540px) 90vw, 100vw",
            "outputWidths": [ 
              settings.config.image_width_sm,
              settings.config.image_width_md,
              settings.config.image_width_lg
            ],
            "outputFormats": outputFormats,
            "outputQualityJpeg": settings.images.jpeg.quality,
            "outputQualityWebp": settings.images.webp.quality,
            "outputQualityAvif": settings.images.avif.quality
          }
        %}

        {% generateImage params %}

        {% if image.caption %}
          <figcaption class="image-caption">{{ image.caption }}</figcaption>
        {% endif %}

      {% endfor %}
    {% endif %}
  </section>
  
</article>

{# Output a list of random projects, excluding the current project, default limit of 48 #}
{% set projectList = collections.projects | randomLimit((settings.theme.theme_features.item_output_limit or 48), page.url) %}
{% include "components/projectList.njk" %}

{# Appended to <head> during build #}
{% include "components/opengraph.njk" %}
